<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="env" class="com.jxtb.sdk.util.EnvFactoryBean">
        <property name="locations" value="#{systemProperties['env.files']?:'classpath:/conf/*properties'}"/>
    </bean>

    <import resource="dubbo-client.xml"/>

    <bean class="com.jxtb.sdk.context.ApplicationContextHolder"/>

</beans>