<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="commonUtil(title)">
            <link type="text/css" rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
            <link rel="stylesheet"  th:href="@{/static/css/bootstrap-theme.css}"/>
            <link rel="stylesheet"  th:href="@{/static/css/fontAwesome.css}"/>
            <link rel="stylesheet"  th:href="@{/static/css/light-box.css}"/>
            <link rel="stylesheet"  th:href="@{/static/css/owl-carousel.css}"/>
            <link rel="stylesheet"  th:href="@{/static/css/templatemo-style.css}"/>
            <link rel="stylesheet"  th:href="@{/static/layer/skin/layer.css}"/>
            <script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
            <script th:src="@{/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>
            <script th:src="@{/static/js/vendor/jquery-1.11.2.min.js}"></script>
            <script th:src="@{/static/js/vendor/bootstrap.min.js}"></script>
            <script th:src="@{/static/js/plugins.js}"></script>
            <script th:src="@{/static/layer/layer.js}"></script>
            <script th:src="@{/static/js/main.js}"></script>
            <script th:src="@{/static/js/my.js}"></script>
        </div>
    </body>
</html>